@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

:root {
  font-family: Figtree-Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: #e4e4e7;
}

.dark {
  background-color: #3f3f46;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@font-face {
  font-family: 'Figtree-Regular';
  src: url('/fonts/Figtree.woff') format('woff');
}

@font-face {
  font-family: 'Figtree-Bold';
  src: url('/fonts/Figtree-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Figtree-Italic';
  src: url('/fonts/Figtree-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Figtree-BoldItalic';
  src: url('/fonts/Figtree-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Figtree-SemiBold';
  src: url('/fonts/Figtree-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Figtree-SemiBoldItalic';
  src: url('/fonts/Figtree-SemiBoldItalic.woff') format('woff');
}
